awscli>=1.18.140
boto3>=1.14.35
sagemaker>=2.0.0
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability